[info]
CTPFront.trade1 = tcp://180.168.146.187:10030
CTPFront.quote1 = tcp://180.168.146.187:10031
CTPFront.trade2 = tcp://180.168.146.187:10001
CTPFront.quote2 = tcp://180.168.146.187:10011
CTPFront.trade3 = tcp://218.202.237.33:10002
CTPFront.quote3 = tcp://ctp1-md11.citicsf.com:41213
LOGIN.cust_code=1080013632
LOGIN.bank_no=0000
LOGIN.net_envionment=2
LOGIN.connect_type=8
LOGIN.net_agent=1
LOGIN.port=12443
LOGIN.ip=10.0.2.122
HJ.ver_num=1.0.0
HJ.is_down_para=0
HJ.ShowTakeSheetDate=1
IFYC.ip=10.0.2.122
IFYC.port=17201
IFYC.user_type=2
IFYC.user_id=8888
IFYC.user_pwd=123456
IFYC.branch_id=B00000
IFB1C.ip=10.0.2.122
IFB1C.port=12443
IFB1C.private_key=client.pfx
IFB1C.private_pwd=123456
IFB1C.public_key=server.crt
IFB2C.ip=10.0.2.122
IFB2C.port=15201
IFB2C.3DesKey=240262447423713749922240
IFB2C.3DesIV=12345678
IFB2C.SessionID=0123456789
IFB3C.ip=10.0.2.122
IFB3C.port=16201
IFB4C.ip=10.0.2.122
IFB4C.port=20001
demo=0
CodeTableDataType=1
VarietyDataType=1
code_table=


XQUE_NUM = 2
XQUE1.XQUE_NAME = SGE_QUOTATION
XQUE1.WAIT_PERMIT = 10000
XQUE1.BUFFER_PERMIT = 10000
XQUE1.MAIN = 1
XQUE1.MODE = 1

XQUE2.XQUE_NAME = MQ_QUOTATION
XQUE2.XQUE_TIMEOUT = 1000
XQUE2.WAIT_PERMIT = 5000000
XQUE2.BUFFER_PERMIT = 5000000
XQUE2.MAIN = 1
XQUE2.MODE = 1


# -------------------------日志-----------------------------
# device(设备)包括file(文件), console(控制台)及将来扩展的日志主机等
# level(级别)包括E_CRITICAL, E_ERROR, E_WARNING, E_NOTICE, E_SYSINFO, E_PROINFO, E_APPINFO, E_DEBUG
logger.type = common, debug, net

logger.common.device = file
logger.common.level = E_CRITICAL, E_ERROR, E_WARNING, E_NOTICE, E_SYSINFO, E_PROINFO, E_APPINFO, E_DEBUG, E_STATICS
logger.common.path = E:\work\CTPServer\Bin64\log
logger.common.prefix = CTPServer
logger.common.postfix = log
logger.common.num = 6
logger.common.level1 = E_CRITICAL
logger.common.file1 = LogErr
logger.common.level2 = E_ERROR
logger.common.file2 = LogErr
logger.common.level3 = E_WARNING
logger.common.file3 = LogErr
logger.common.level4 = E_PROINFO
logger.common.file4 = LogProInfo
logger.common.level5 = E_STATICS
logger.common.file5 = LogStatics
logger.common.level6 = E_DEBUG
logger.common.file6 = LogDebug

logger.debug.device = console
logger.debug.level = E_CRITICAL, E_ERROR, E_WARNING, E_NOTICE, E_SYSINFO, E_PROINFO, E_APPINFO, E_DEBUG, E_STATICS

logger.net.device = netlog
logger.net.level = E_CRITICAL, E_ERROR, E_WARNING, E_NOTICE, E_SYSINFO, E_PROINFO, E_APPINFO, E_DEBUG, E_STATICS